{% extends 'dashboard.html' %}
{% block title%}
AddTask
{% endblock title%}
{% block content %}
<center>
<div style="padding-top:60px;">
  <h1>AddTask</h1>
<form method="post" novalidate style="margin-top:20px">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      {{form.title}}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      {{form.description}}
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Date</label>
        {{form.dead_line}}
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
</center>
{% endblock content %}