{% extends 'dashboard.html' %}
{% load static%}
{% block content%}
<body>
    <div class="content">
      <div class="container">
        <div class="table-responsive">
          <table class="table custom-table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Deadline</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
            {% for i in ts_today%}
              <tr scope="row">      
                    <td>
                      {{i.title}}
                    </td>
                    <td>{{i.dead_line}}<small class="d-block">this is the last day</small></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
{% endblock content%}